<div class='text-center container'>
  <%= form_with(model: [:user, @activity]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %><br /><br />
    <%= f.label :time %>
    <%= f.number_field :time, step: 0.1 %><br /><br />
    <%= f.label 'Select Group' %>
    <%= select("activity", "group_id", Group.all.collect { |g| [g.name, g.id] }, { include_blank: true }) %><br /><br />
    <%= f.submit 'Create activity' %>
  <% end %>
</div>